@{
    ViewData["Title"] = "Главная";
}

<section class="hero">
    <div class="container">
        <h1>Обменивайтесь книгами</h1>
        <p>Найдите книгу для чтения или поделитесь своей коллекцией с другими читателями</p>
    </div>
</section>
